<!DOCTYPE html>
<html lang="en">
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-conent">
            {{>header}}
            <p>This site was created by {{name}}.</p>
            <img src="/img/background.jpg" alt="" srcset="" class="portrait">
        </div>
        {{>footer}}
    </body>
</html>